body, html {
    height: 100%;
    margin: 0;
}

header {
  padding: 30px;
  text-align: center;
}

nav {

	overflow: hidden;
  font-family: 'Palatino';
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
  background-color: #373737;
  padding: 0;
  height:  65px;
  z-index: 1000;
}

nav a {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    float: right;
    padding: 15px 50px;
}
nav a:hover {
  background-color: rgba(0,0,0,0.1);
  padding-bottom:15px;
  border-bottom:5px;
  border-bottom-color:#19B5FE;
  border-bottom-style:solid;
  color: #F5D76E;
  transition: .25s all;
}

.centerTitle{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0,0,0,.8);
    letter-spacing: 5px;
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.logoweb {
    display: block;
    max-height: 100%;
    height: auto;
}
.logonav {
    float: left;
    height: 50px;
    padding: 7px 20px;
}

.logonav:hover{
    padding-bottom: 2px;
    border-bottom:5px;
    border-bottom-color:#19B5FE;
    border-bottom-style:solid;

}

.bg {

    background-image: url("../img/IMG_0058.jpg");
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url("../img/IMG_0046.jpg");
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {

    background-image: url("../img/IMG_0031.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg4 {

    background-image: url("../img/IMG_0064.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%
}



#boxes{
  margin-top:10px;
  width: 100%;
  color: #E4F1FE;
}

#boxes .box{
  text-align: center;
  width:30%;
  padding: 19px;
  float: left;


}

.container{
  height: auto;
  width:100%;
  overflow:hidden;
  background-color: #013243;
  padding-bottom: 25px;

}

#boxes .box h2{
  font-size: 40px;
  font-weight: 500;
  line-height: 30px;
  color: #E4F1FE;
}

#boxes .box p{
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  color: #E4F1FE;

}

#boxes .box:hover {
    border: 1px solid;
    border-color: #151515;
    box-shadow: 5px 10px 18px #151515;
}


#boxes .centerBox h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 30px;
 color: #E4F1FE;
  text-align: center

}
#boxes .centerBox p{
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
 color: #E4F1FE;
  text-align: center
}

.botCenterBox {

  font-size: 30px;
  font-weight: 500;
  color: #E4F1FE;
  text-align: center
}

.team{
    grid-area: team;
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}
.team h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}
.ps{
    position: static;
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 250px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    position: relative;
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a img:hover {
  filter: none;
}

.name{
    margin-top: 210px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    background-color: white;
    color: black;
    border-radius: 10%;
}

#p1:hover #name1{
  visibility: visible;
  opacity: 1;
}
#p2:hover #name2{
  visibility: visible;
  opacity: 1;
}
#p3:hover #name3{
  visibility: visible;
  opacity: 1;
}
#p4:hover #name4{
  visibility: visible;
  opacity: 1;
}
#p5:hover #name5{
  visibility: visible;
  opacity: 1;
}
#p6:hover #name6{
  visibility: visible;
  opacity: 1;
  margin-left: 20px;
}


.footcontainer {
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    position: relative;
    text-align: center;
    color: white;
    top: 50%;
    margin-left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(34, 49, 63, 0.8);
    padding: 30px;
}

.button-one {
    background: #F5D76E;
    color: #1d1d1d;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    align-content: center;
}
.button-two {
    background: #D24D57;
    color: #1d1d1d;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    align-content: center;
}
.button-three {
    background: #22A7F0;
    color: #1d1d1d;
    font-family:"Lato", sans-serif;
    font-size: 25px;
    text-align: center;
}
.button-one{
    display: inline-block;
    border-radius: 0;
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.2s;
    margin:2px;
}

.button-two{
    display: inline-block;
    border-radius: 0;
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.2s;
    margin:2px;
}
.button-three {
    display: inline-block;
    border-radius: 0;
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.2s;
    margin:2px;
}

.start{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
    padding: 12px 24px;
    margin-top: 90px;

}

 .start a{
    position:relative;
    text-decoration:none;
    border: 2px solid white;
    width: 125px;
    height: 44px;
    text-align:center;
    line-height: 50px;
    display:inline-block;
    font-size: 24px;
    color: #262626;
}
.start a:before{
    content: '';
    position:absolute;
    top: -2px;
    left:-2px;
    width: 100%;
    height:100%;
    background: transparent;
    border: 2px solid #262626;
}
.start a:hover:before{
    animation: animate 1s linear forwards;
}

@keyframes animate{
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #262626;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}


.buttonStart{
  position: initial;
  text-align: center;
  margin-left: 50%;
  margin-top: 25%;
  transform: translate(-50%, -50%);
  text-shadow: 6px 0px 3px #666666;
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttonStart:hover {
  text-decoration: none;
  color: #19B5FE ;
}
