div#topic-box-wrapper {
	width: 20%;
	height: 100vh;
	float: left;
}

div#topic-box {
	width: 12%;
	float: right;
	margin-top: 8%;
	margin-left: 15%;
	position: absolute;
	border: 1px solid lightgray;
	text-align: center;
}

#content-wrapper {
	width: 70%;
	float: right;
}

.topic-button {
	width: 100%; 
	border: 1px solid lightgray;
	text-align: center;
	text-decoration: none;
	padding: 15px 32px;
	background-color: #E8E8E8;
}

.topic-button:hover {
	background-color: lightblue;
}

.sub-topic-button {
	width: 80%;
	text-align: center;
	text-decoration: none;
	padding: 10px 26px;
	background-color: #E8E8E8;
}

.sub-topic-button:hover {
	background-color: lightblue;
}

#www-topic {
	display: none;
}

#html-topic {
	display: none;
}

#http-topic {
	display: none;
}

.content-box {
	width: 70%;
	float: right;
	margin-top: 6%;
	background-color: #D3D3D3;
}

.subtopic-content {
	width: 90%;
	border: 1px solid lightgray;
}

.subtopic-content h2 {
	width: 80%;
	padding: 8px;
	background-color: red;
}

.subtopic-content h3 {
	width: 40%;
	padding: 5px;
	background-color: brown;
}

.titlebar {
	color: black;
}

/* www */
#www-content-page {
	position: absolute;
	display: block;
}

#www1 {
	position: absolute;
	display: block;
}

#www2 {
	position: absolute;
	display: none;
}

#www3 {
	position: absolute;
	display: none;
}
/* html */
#html-content-page {
	position: absolute;
	display: none;
}

#html-intro {
	position: absolute;
	display: none;
}

#html1 {
	position: absolute;
	display: none;
}

#html2 {
	position: absolute;
	display: none;
}

#html3 {
	position: absolute;
	display: none;
}

#html4 {
	position: absolute;
	display: none;
}
/* http */
#http-content-page {
	position: absolute;
	display: none;
}

#http1 {
	position: absolute;
	display: none;
}
#http2 {
	position: absolute;
	display: none;
}

main ul {
	color: black;
}

main i {
	color: black;
}

