body, html {
    height: 100%;
    margin: 0;
}

header {
  padding: 30px;
  text-align: center;
}

nav {
	overflow: hidden;
	background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

.bg { 
    /* The image used */
    background-image: url("../img/headTree.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0,0,0,.8);
    letter-spacing: 10px;
    padding: 12px 24px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}

#boxes{
  margin-top:10px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:31%;
  padding:10px;
}

#boxes .box img{
  width:100px
}

.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}
