
.samp:first-child{
    border-top: 8px solid yellow;
}
.wrapper{
    display: grid;
    align-self: flex-start;
    grid-template-columns: 50px 360px 1fr 50px ;
    grid-template-rows: 500px 500px;
    grid-template-areas: 
        ". qnav container ."
        ". qnav result result";
    grid-column-gap: 50px;
}


#result{
    grid-area: result;
    display: none;
    font-family: Tahoma;
    font-size: 15px;
    width: 100%;
    margin-top: -90%;
    overflow: scroll;
}
#result > span{
    font-size: 30px;
    position: fixed;
    margin-top: -50px;
    z-index: 100;
    overflow: hidden;
    border: 2px solid black;
    background-color: white;
}

.samp{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
    width: 20%;
    text-align: center;
    border: 2px solid;
    border-top: 8px solid #1C6EA4;
}
#qNav{
    grid-area: qnav;
    border: 2px solid;
    width: 100%;
    height: 600px;
    background-color: #013243;
}

.samp:hover{
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    transition: .2s linear;
    cursor: pointer;
}

#container{
    grid-area: container;
    display: grid;
    margin-top: 50px;
    grid-template-rows: 300px 1fr 1fr;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas: 
        "quest quest quest"
        "ans ans ans"
        "bckb nxtb subm";
}

#question {
    grid-area: quest;
    border: auto solid;
    padding: 10px;
    margin-left: 5%;
    font-family: Tahoma;
    font-size: 20px;
    width: 100%;
}

#answer{
    grid-area: ans;
    width: 100%;
    border-radius: 4px;
    font-family: Tahoma;
    font-size:15px;
}
#bckBtn{
    grid-area: bckb;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#bckBtn:hover{
    background: #333;
    color: #e3e3e3;
}

ol{
    background-color: rgb(52, 52, 54);
    color: white;
    margin: 10px;
    width:  800px;
}

.wrong{
    background-color: red;
    margin-top: 10px;
}

.right{
    background-color: green;
    margin-top: 10px;
}

a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

#answer:focus{
    border-color: #013243;
    box-shadow: 0 0 8px 0 #013243;
}



#nxtBtn{
    grid-area: nxtb;
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#nxtBtn:hover{
    background: #333;
    color: #e3e3e3;
}
#chkBtn{
    grid-area: subm;
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#chkBtn:hover{
    background: #333;
    color: #e3e3e3;
}
#strtBtn{
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
}
#strtBtn:hover{
    background: #333;
    color: #e3e3e3;
}


