body, html {
    height: 100%;
    margin: 0;
}


/*banner*/

.bg{ 
    /* The image used */
    background-image: url("../img/headTree.jpg");

    /* Full height */
    height: 100%; 
    position: relative;
    /* Center and scale the image nicely */
    background-attachment: fixed
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url("../img/IMG_0046.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    /* The image used */
    background-image: url("../img/IMG_0031.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0,0,0,.8);
    letter-spacing: 10px;
    padding: 12px 24px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px;
}

/*main grid*/
.wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto,1fr;
    grid-template-areas:
        "home nav nav nav nav nav nav nav"
        "main main main main main main main main"
        "team team team team team team team team";
}

/*home*/
.home{
    grid-area: home;
    background-color: #333;
}
/* navigation */
nav {
    grid-area: nav;
    background-color: #333;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

/*dropdown menu*/
.dropdown-content{
    display: none;
}
.show {
    display:inline;
}

/* nav grid layout */
nav .container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10px, 120px;
    grid-template-areas: 
        "topic1 topic2 topic3"
        "stopic1 stopic2 stopic3";
}
.nav topic{
    text-align: left;
}

.nav topic one{
    grid-area: topic1;
}
.nav topic two{
    grid-area: topic2;
}
.nav topic three{
    grid-area: topic3;
}
.subtopic1{
    grid-area: stopic1;
}
.subtopic2{
    grid-area: stopic2;
}
.subtopic3{
    grid-area: stopic3;
}

/*Main Layout*/
main{
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "mtopic1"
        "mtopic2"
        "mtopic3"
        "mtopic4"
        "mtopic5";

}
.main topic one{
    grid-area: mtopic1;
}
.main topic two{
    grid-area: mtopic2;
}
.main topic three{
    grid-area: mtopic3;
}
.main topic four{
    grid-area: mtopic4;
}
.main topic five{
    grid-area: mtopic5;
}

main .main {
    text-align: center;
}

/*team*/
.team{
    grid-area: team;
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}
.team h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}
.ps{
    margin-bottom: 40px;

}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 250px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4 all;
}

.ps a:hover > img{
    filter: none;
}

.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target{
    height: auto;
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px; 