
.samp:first-child{
    border-top: 8px solid yellow;
}

#result{
    grid-area: result;
    display: none;
    font-family: Tahoma;
    font-size: 15px;
    width: 100%;
	padding-top: 270px;
    overflow: scroll;
}
#result > span{
    font-size: 30px;
    position: fixed;
    z-index: 100;
	margin: 50px;
    overflow: hidden;
	margin-top: -70px;
    border: 2px solid black;
    background-color: white;
}


.samp{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
    width: 40px;
    text-align: center;
    border: 2px solid;
    border-top: 8px solid #1C6EA4;
}

#qNav{
    border: 2px solid;
    width: 70%;
    height: 250px;
    background-color: #013243;
	margin-top: 0px;
}

.samp:hover{
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    transition: .2s linear;
    cursor: pointer;
}

#container{
    margin: 50px auto 0 auto;
	width: 70%;
}

#question {
    border: auto solid;
    padding: 10px;
	margin-top: 60px;
    font-family: Tahoma;
    font-size: 30px;
    width: 100%;
	text-align: center;
}

#answer{
    grid-area: ans;
    width: 50%;
	margin: 0 25% 0 25%;
	border-radius: 6px;
	padding: auto;
	display: table;
    font-family: Tahoma;
    font-size:30px;
	display: block;
}

#bckBtn{
	width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
	margin-left:39%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#bckBtn:hover{
    background: #333;
    color: #e3e3e3;
}

ol{
    background-color: rgb(52, 52, 54);
    color: white;
    margin: 10px;
    width:  70%;
	margin: auto;
}



.wrong{
    background-color:red;
    margin-top: 10px;
}

.right{
    background-color: green;
    margin-top: 10px;
}

a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

#answer:focus{
    border-color: #013243;
    box-shadow: 0 0 8px 0 #013243;
}

#nxtBtn{
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
	float: right;
	margin-right: 39%;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#nxtBtn:hover{
    background: #333;
    color: #e3e3e3;
}
#chkBtn{
    grid-area: subm;
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#chkBtn:hover{
    background: #333;
    color: #e3e3e3;
}
#strtBtn{
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
}
#strtBtn:hover{
    background: #333;
    color: #e3e3e3;
}


