html{
background-color:#013243;
}

.samp{

    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    width: 20px;
    text-align: center;
    border: 2px solid;
    border-top: 8px solid #1C6EA4;
}

.samp:hover{
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    transition: .2s linear;
    cursor: pointer;
}

.samp:first-child{
    border-top: 8px solid yellow;
}
.wrapper{
    display: flex;
    height: 2480px;
    justify-content: center;
}

#qNav{
    grid-area: qnav;
    border: 2px solid;
    margin-top: 15px;
    position: fixed;
    margin-left: -25%;
    width: 450px;
    height: 300px;
    background-color: whitesmoke;
    
}


#container{
    display: grid;
    margin-top: 20px;
    margin-left: 40%;
    grid-template-rows: 200px 50px 50px;
    grid-template-columns: 150px 150px 150px;
    grid-template-areas: 
        "quest quest quest"
        "ans ans ans"
        "bckb nxtb subm";
}
#score{
    font-size: 50px;
    color: antiquewhite;
    position: absolute;
    margin-top: -75px;
    margin-left: 167px;
    background-color: rgb(52, 52, 54);
}

#result{
    display: none;
    font-family: Tahoma;
    margin-left: 40%;
    font-size: 15px;
    padding-top: 100px;
    margin-top: 0%;
}

ol{
    background-color: rgb(52, 52, 54);
    color: white;
    margin: 10px;
    width:  500px;
padding-right: 20px;
}

.wrong{
    background-color: red;
    margin-top: 10px;
}

.right{
    background-color: green;
    margin-top: 10px;
}

a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}
#answer{
    grid-area: ans;
    width: 100%;
    border-radius: 4px;
    font-family: Tahoma;
    font-size:15px;
}
#answer:focus{
    border-color: #013243;
    box-shadow: 0 0 8px 0 #013243;
}

#bckBtn{
    grid-area: bckb;
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#bckBtn:hover{
    background: #333;
    color: #e3e3e3;
}

#nxtBtn{
    grid-area: nxtb;
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#nxtBtn:hover{
    background: #333;
    color: #e3e3e3;
}
#chkBtn{
    grid-area: subm;
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
    margin-top: 5px;
}
#chkBtn:hover{
    background: #333;
    color: #e3e3e3;
}
#strtBtn{
    width: 100px;
    height: 50px;
    -webkit-transition: all .2s;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5), 1px 1px 1px rgba(0,0,0,.3);
}
#strtBtn:hover{
    background: #333;
    color: #e3e3e3;
}

#question {
    grid-area: quest;
    margin: auto;
    width: 100%;
    height: 150px;
    border: auto solid;
    padding: 10px;
    font-family: Tahoma;
    font-size: 20px;
    background-color: whitesmoke;
}
