/*
body{
	height: 100%;
}
.wrapper{
	display: grid;
	grid-row-gap:30px;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 1fr, 1fr, 1fr;
	grid-template-areas:
	"nav brand"
	"main main"
	"footer footer";
}
.brand{
	grid-area: brand;
}
nav{
	grid-area: nav;
	width: 100%;
}
main{
	grid-area: main;
}
footer{
	grid-area: footer;
}

/*grid layout dropdown menu*/
/*
.dropdown-content{
	display: none;
}

.show {
	display:inline;

}
.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:: 30px, auto;
	grid-template-areas:
	"topic1 topic2 topic3"
	"subtopic1 subtopic2 subtopic3";
}
.topic{
	height: 100px;
	min-width: 100px;
	flex-grow: 1;
}
.one{
	grid-area: topic1;
}
.two{
	grid-area: topic2;
}
.three{
	grid-area: topic3;
}
.subtopic1{
	grid-area: subtopic1;
}
.subtopic2{
	grid-area: subtopic2;
}.subtopic3{
	grid-area: subtopic3;
}

nav ul{
	list-style-type: none;
	padding: 0;
}
*/


body {
    font-family: Tahoma;
}

.tab {
	height: 10%;
    width: 10%;
    
}

#space-tab {
	width: 52%;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    height: 10%;
    width: 12%;
    text-align: center;
    font-size: 1.3em;
    line-height: 40px;
    background-color: #ADD8E6;
}

ul li a {
    text-decoration: none;
    display: block;
}

ul li a:hover {
    background-color: #7997a1;
}

.topics {
    display: none;
    height: 10%;
    width: 100%;
}

ul li:hover ul li {
    display: block;
}

#sidebar {
    width: 20%;
    height: 90%;
}

.subtopic-container {
	display: none;
}

.subtopics {
    height: 100%;
    width: 100%;
}

.subtopic-content {
    display: none;
    height: 100%;
    width: 100%;
}
